.App {
  text-align: center;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.header {
  width: 85vw;
  margin: 35px 0px 0px 0px;
  background-color: red;
}

.body {
  width: 100vw;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.port-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85vw;
  margin: 35px 0px;
  background-color: #61dafb;
}

.description {
  width: 90%;
  margin-top: 35px;
  background-color: burlywood;
}

.port-item {
  width: 80%;
  margin: 50px;
  padding: 35px;
  background-color: purple;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
